.container {
	flex: 4;
	height: 100%;
	width: 100%;
	row-gap: 1rem;
	display: flex;
	flex-direction: column;

	.detail {
		height: 100%;
		width: 100%;
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
}
