.container {
	flex: 4;
	height: 100%;
	width: 100%;
	row-gap: 1rem;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	container: forecast / inline-size;

	.detail {
		height: 100%;
		width: 100%;
		display: grid;
		gap: 1rem;
		container: forecastcard / inline-size;
	}
}

@container forecast (width >=670px) {
	.detail {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}

@container forecast (width < 670px) {
	.detail {
		grid-template-columns: repeat(3, 1fr);
	}
}
