.card-container {
	width: 100vw;
	background: var(--neutral-color);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
	margin: 2rem;
	color: var(--secondary-color);
	border-radius: 10px;
	container-type: inline-size;
}

@media (width >=700px) {
	.card-container {
		width: 70vw;
	}
}
