.card-container {
	height: 70vh;
	width: 70vw;
	background: var(--neutral-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: column wrap;
	place-content: center center;
	row-gap: 1rem;
	padding: 2rem;
	color: var(--primary-color);
	border-radius: 10px;
}
