.card-container {
	height: 80vh;
	width: 80vw;
	background: var(--neutral-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	column-gap: 1rem;
	padding: 2rem;
	color: var(--primary-color);
	border-radius: 10px;
	box-shadow: 10px 10px 5px 0 rgb(225 237 255 / 75%);

	.card-container-right {
		flex: 3;
		height: 100%;
		width: 100%;

		/* background: red; */
	}

	.card-container-left {
		flex: 1;
		height: 100%;
		width: 100%;
	}
}
