.main {
background-image: url(../assets/day.jpg);
/* background-size: cover; */
background-position: center;
width: 100%;
height: 100vh;
margin: 0px;
padding: 30px 110px;
}

.container {
	height: 530px;
	width: 80%;
	background: rgb(139, 200, 235);
	background-size: cover;
	display: flex;
	flex-direction: row;
	/* margin: 30px auto; */
	color: white;
	border: 2px solid whitesmoke;
	border-radius: 20px;
}

.rightSide {
	padding: 25px 30px;
	height: 500px;
	width: 70%;
	/* background-color: rgb(196, 196, 236); */
	z-index: 2;
}

.leftSide {
	height: 550px;
	width: 35%;
}

.second_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 400px;
	/* background-color: blue; */
}

.third_Container {
	padding: 10px 0px;
}

.fourth_Container{
padding: 10px;
color: rgb(3, 34, 143);
}
.header_Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: aliceblue;
	height: 150px;
    width: 605px;
}
